.app-title {
    font-size: 18px;
    color: #0c0c0c; /* White text color */
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.app-subtitle {
    font-size: 14px;
    color: #0c0c0c; /* White text color */
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
}


/* Btn */
.btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    border: 1px solid transparent;
    border-radius: 0.25rem;
    
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
/* END Btn */


input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
input.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
