form {
    background: #f5f5f5;
    max-width: 500px;
    margin: auto;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form .form-group {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form .form-group label {
    font-weight: bold;
}
