<style scoped src="/resources/css/error404.css"></style>

<template>
    <div class="error-page">
        <h1 class="app-title">Error 404</h1>
        <div class="app-subtitle">Page not found</div>

        <router-link :to="{ path: '/' }"  class="btn btn-primary">Go to Main Page</router-link>
    </div>
</template>