<style scoped src="/resources/css/form.css"></style>

<template>
    <div>
        <h1 class="app-title">Форма</h1>

        <form class="app-form" @submit.prevent="submitForm">
            <div class="form-group" :class="{ 'has-error': !name }">
                <label for="name">Имя:</label>
                <input type="text" id="name" v-model="name" required @focus="clearErrorMessage('name')">
            </div>
            <div class="form-group" :class="{ 'has-error': !email }">
                <label for="email">Email:</label>
                <input type="email" id="email" v-model="email" required @focus="clearErrorMessage('email')">
            </div>
            <div class="form-group" :class="{ 'has-error': !body }">
                <label for="body">Обращение:</label>
                <textarea id="body" v-model="body" required @focus="clearErrorMessage('body')"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</template>

<script>
import FormComponent from '../components/FormComponents';

export default {
    mixins: [FormComponent]
};
</script>