<template>
    <div>
        <h1>Список форм (vue store)</h1>
        <div v-if="formDataArray.length > 0">
            <ul>
                <li v-for="(formData, index) in formDataArray" :key="index">
                    <p><strong>Имя:</strong> {{ formData.name }}</p>
                    <p><strong>Почта:</strong> {{ formData.email }}</p>
                    <p><strong>Обращение:</strong> {{ formData.body }}</p>
                    <p><strong>Дата обращения:</strong> {{ formData.date }}</p>
                </li>
            </ul>
        </div>
        <div v-else>
            <p>Нет сохраненных форм.</p>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        formDataArray() {
            return this.$store.getters.formDataArray;
        }
    }
};
</script>
